body{
	
	background: rgb(102,102,102);
	background: linear-gradient(180deg, rgba(102,102,102,1) 0%, rgba(16,16,16,1) 100%);
	background-color: #cacaca;
	opacity: 1;
	background-image: radial-gradient(circle at center center, #737373, #cacaca), repeating-radial-gradient(circle at center center, #737373, #737373, 22px, transparent 44px, transparent 22px);
	background-blend-mode: multiply;
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	font-size: xx-large;

}
.page{
	background: rgb(34,193,195);
	background: linear-gradient(297deg, rgba(34,193,195,1) 0%, rgba(95,255,103,1) 100%);
	margin:1em;
	padding:0.05em;
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius:5em;
	opacity: 0.95;
	
	
}
.contenu{
	background: rgb(34,193,195);
	background: linear-gradient(297deg, rgba(34,193,195,1) 18%, rgba(95,162,255,1) 100%);
	margin:1em;
	padding: 0.20em 1em;
	border-radius:2em;
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
	opacity: 0.95;
}
#submit{
	background: rgb(34,195,61);
	background: linear-gradient(297deg, rgba(34,195,61,1) 0%, rgba(182,255,204,1) 100%);
	border-radius:0.5em;
	width: 200px;
	height: 40px;
	cursor: pointer;

}
#btnSubmit{
	background: rgb(34,195,61);
	background: linear-gradient(297deg, rgba(34,195,61,1) 0%, rgba(182,255,204,1) 100%);
	border-radius:0.5em;
	width: 100px;
	height: 25px;
	cursor: pointer;
}
#logo{
	position: relative;
	float: left;
	width: 11.80%;
	margin: -1em;
	top: 31px;
	left: 30px
}
#anicare{
	position: relative;
	left: 100px;
}

background-color: #e5e5f7;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );